<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Create Customer account</h1>
        <a href="customer-create/"> <input type="submit" value="Enter"></a>
        <br></br>
        <h1>Create Freelancer account</h1>
        <a href="freelancer-create/"> <input type="submit" value="Enter"></a>
        <br></br>
    </div>
    
</body>
</html>